.button {
    -fx-background-image: url('./spotlock_lock_closed.png');
    -fx-background-size: 85;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-background-radius: 5em;
    -fx-min-width: 125;
    -fx-min-height: 125;
    -fx-max-width: 125;
    -fx-max-height: 125;
    -fx-font-size: 18;
    -fx-border-color: #00D46D;
    -fx-border-radius: 75;
    -fx-border-width: 3;
}

.button:hover {
    -fx-background-image: url('./spotlock_lock_closed_hover.png');
    -fx-background-size: 85;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-background-radius: 5em;
    -fx-min-width: 125;
    -fx-min-height: 125;
    -fx-max-width: 125;
    -fx-max-height: 125;
    -fx-font-size: 18;
    -fx-border-color: #00F078;
    -fx-border-radius: 75;
    -fx-border-width: 3;
}